/* ===== FIXED TICKER ABOVE HEADER ===== */
/* ===== SCROLLING TEXT BAR ===== */
.premium-ticker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #00ff6a, #ffe600, #ff004c, #00a2ff);

    padding: 10px 0;
    overflow: hidden;
    z-index: 99999;
}

.scroll-text {
    white-space: nowrap;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #000000;

    /* الحركة */
    animation: scrollTicker 15s linear infinite;
}

/* الحركة من اليمين للشمال */
@keyframes scrollTicker {
    100% {
        transform: translateX(100%);   /* خارج الشاشة يمين */
    }
    100% {
        transform: translateX(-100%);  /* خارج الشاشة شمال */
    }
}


/* ===== MOVE PAGE DOWN TO AVOID COVER ===== */
body {
    padding-top: 290px !important; /* ارتفاع الشريط */
}

/* ===== FIX HEADER BELOW TICKER ===== */
header {
   
    top: 35px !important;          /* تحت الشريط */
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200 !important;
}

